In [8]:
import pandas as pd
data_frame = pd.read_csv('international_matches.csv')
data_frame.shape

(23921, 25)

In [9]:
data_frame.describe()

,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
count,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,8379.000000,8095.000000,7787.000000,8510.000000,8162.000000,7564.000000,8312.000000,7979.000000
mean,77.854688,80.797375,323.401488,315.453576,1.609214,1.068266,74.963838,74.212477,74.903249,75.818743,75.889292,74.424379,75.420019,75.259143
std,52.355225,53.232902,500.825725,490.944273,1.630127,1.263944,8.212242,8.225919,6.003114,6.268416,6.053110,5.937425,6.201906,6.124573
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,47.000000,47.000000,52.800000,53.300000,54.200000,52.800000,53.300000,54.200000
25%,33.000000,36.000000,0.000000,0.000000,0.000000,0.000000,70.000000,69.000000,71.000000,71.700000,72.500000,70.500000,71.300000,71.800000
50%,71.000000,73.000000,0.000000,0.000000,1.000000,1.000000,75.000000,74.000000,75.200000,75.700000,76.200000,74.500000,75.300000,75.500000
75%,115.000000,119.000000,547.000000,523.000000,2.000000,2.000000,81.000000,80.000000,78.800000,80.000000,79.500000,78.200000,79.700000,79.000000
max,211.000000,211.000000,2164.000000,2164.000000,31.000000,21.000000,97.000000,97.000000,91.800000,93.000000,93.200000,91.800000,93.000000,93.200000

In [10]:
data_frame.values

array([['1993-08-08', 'Bolivia', 'Uruguay', ..., nan, nan, nan],
       ['1993-08-08', 'Brazil', 'Mexico', ..., nan, nan, nan],
       ['1993-08-08', 'Ecuador', 'Venezuela', ..., nan, nan, nan],
       ...,
       ['2022-06-14', 'Chile', 'Ghana', ..., 75.5, 76.0, 78.2],
       ['2022-06-14', 'Japan', 'Tunisia', ..., 70.8, 72.3, 74.0],
       ['2022-06-14', 'Korea Republic', 'Egypt', ..., nan, 79.3, 70.8]],
      dtype=object)

In [15]:
data_frame[data_frame['home_team_mean_midfield_score']==54.200000].head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
9135,2005-09-04,Zimbabwe,Rwanda,Africa,Africa,51,104,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,54.2,NaN,NaN,NaN
9393,2006-01-23,Zimbabwe,Senegal,Africa,Africa,53,30,0,0,0,...,No,Lose,NaN,75.0,NaN,NaN,54.2,76.5,79.0,76.2

In [42]:
df1 = pd.DataFrame(data_frame, columns = ['home_team','home_team_fifa_rank','away_team','away_team_fifa_rank'])
df1

            home_team  home_team_fifa_rank     away_team  away_team_fifa_rank
0             Bolivia                   59       Uruguay                   22
1              Brazil                    8        Mexico                   14
2             Ecuador                   35     Venezuela                   94
3              Guinea                   65  Sierra Leone                   86
4            Paraguay                   67     Argentina                    5
...               ...                  ...           ...                  ...
23916         Moldova                  180       Andorra                  153
23917   Liechtenstein                  192        Latvia                  135
23918           Chile                   28         Ghana                   60
23919           Japan                   23       Tunisia                   35
23920  Korea Republic                   29         Egypt                   32

[23921 rows x 4 columns]

In [39]:
import seaborn as sns
sns.set()

graph = sns.scatterplot(x = 'home_team_fifa_rank',y = 'away_team_fifa_rank',data = df1)
graph

ValueError: Could not interpret value `home_team_fifa_rank` for parameter `x`

In [38]:
from bokeh.plotting import figure, show
from bokeh.models import HoverTool

TOOLTIPS = HoverTool(tooltips=[("index","$index"),("(home_team_fifa_rank, away_team_fifa_rank)","($home_team_fifa_rank, $away_team_fifa_rank)")])
p = figure(title='simple line example',x_axis_label = 'home_team_fifa_rank',y_axis_label = 'away_team_fifa_rank', plot_width = 1000,plot_height = 1000, tools=[TOOLTIPS])
p.circle('home_team_fifa_rank','away_team_fifa_rank',size = 10, source = df1)
show(p)

ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name. This could either be due to a misspelling or typo, or due to an expected column being missing. : key "x" value "home_team_fifa_rank" (closest match: "home_team"), key "y" value "away_team_fifa_rank" (closest match: "away_team") [renderer: GlyphRenderer(id='2523', ...)]